ol,ul{margin:0;padding:0;list-style: none;}
.wrap{width:800px;margin:0 auto;}
#picList{height:360px;width:800px;-webkit-perspective:800px;float:left;}
#picList li{width:25px;height:360px; position:relative; -webkit-transform-style:preserve-3d; -webkit-transform-origin:center center -180px;float:left;transition:1s 500ms;}

#picList li a{position:absolute;height:100%;width:100%;left:0;top:0;}
#picList li span{position:absolute;height:100%;width:360px;background: #ccc;}
#picList li a:nth-of-type(1){

	background:url(../img/3dimg/1.jpg) no-repeat;
}
#picList li a:nth-of-type(2){
	
	background:url(../img/3dimg/2.jpg) no-repeat;
	top:-360px;
	-webkit-transform-origin:bottom;
	-webkit-transform:rotateX(90deg)
}
#picList li a:nth-of-type(3){
	background:url(../img/3dimg/3.jpg) no-repeat;
	top:360px;
	-webkit-transform-origin:top; 
	-webkit-transform:rotateX(-90deg)
}
#picList li a:nth-of-type(4){
	background:url(../img/3dimg/4.jpg) no-repeat;
	-webkit-transform:translateZ(-360px) rotateX(180deg);

}
#picList li span:nth-of-type(1){/*
	background: url(images/5.jpg) no-repeat;*/
	-webkit-transform-origin:left;
	left:0;
	-webkit-transform:rotateY(90deg);
}
#picList li span:nth-of-type(2){/*
	background: url(images/6.jpg) no-repeat;*/
	-webkit-transform-origin:right;
	right:0;
	-webkit-transform:rotateY(-90deg);

}
#btns{
	float:right;
}
#btns li{
	height:30px;
	width:30px;
	border-radius: 50%;
	background:#000;
	float:left;
	margin:10px 5px;
	color:#fff;
	text-align: center;
	font:italic 20px/30px '微软雅黑';
	cursor:pointer;
}
#btns .active{
	background: #E4E38E;
}