*{padding: 0px; margin:0px;}
ul{list-style: none;}
a{text-decoration: none;}
body{min-width: 1200px; color: #9e9e9e;background:url(img/ftshape.png);}
/*头部*/
#header{
	width: 100%;
	background:rgba(0,0,0,0.8);
	position: absolute;
	left: 0;top:0;
}
#header .navbar{
	height: 80px;
	position: relative;
}
#header .navbar .container{
	width: 100%;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
#header .navbar .container .logo{
	width: 200px;
	height: 80px;
	background: url(img/logo.png) no-repeat;
	float: left;
	position: relative;
}
#header .navbar .container .nav{
	height: 80px;
	font-size: 18px;
	line-height:80px;
	float:left;
}

#header .navbar .container .nav li{
	display: inline-block;
	float: left;
}
#header .navbar .container .nav li a{
	height: 80px;
	line-height: 80px;
	padding: 0 15px;
	display: inline-block;
	color: white;
}
#header .navbar .container .nav li:hover a{
	
	color: rgb(35, 180, 91);
}
#header .navbar .container .nav .active a{color:rgb(35,180,91);}
#header .navbar .container .identity {
	height: 30px;
	line-height: 30px;
	padding: 25px 0;
	position: absolute;
	right: 50px;top:5px;
}
#header .navbar .container .identity a{color: #42a41b;}
#header #subMenu{
	display: none;
	width: 100%;
	height: 46px;
	position: absolute;
	margin-top: 0px;
	z-index: 10;
	background:rgba(0,0,0,0.1);
	padding-left: 350px;
}
#header #subMenu li{
	height: 90%;
	display: inline-block;
	margin-right: 20px;
}
#header #subMenu li:hover{
	border-bottom: 4px solid #40c51b;
}
#header #subMenu li a{
	font-size: 16px;
	line-height: 45px;
	color: white;

}
/*主体部分*/
#main{

	width: 100%;
	
}
#main .firstpage{
	position: relative;
	background:url(img/banner_thumb_1.jpg)no-repeat;
	height: 900px;
	margin-top: 80px;
	z-index: 1;
}
#main .firstpage .banner{
	height: 50%;
	width: 500px;
	position: absolute;
	top:50%;left: 50%;
	transform: translateX(-50%);
	/*background:yellow;*/

}
#main .firstpage .banner .showtitle{
	widows: 100%;
	height: 100px;
	/*background: red;*/
}
#main .firstpage .banner .showtitle h2{
	line-height: 100px;
	text-align: center;
	letter-spacing: 10px;
	font-size:90px;
	font-family: '微软雅黑';
	color: white;
}
#main .firstpage .banner .showcon{
	height: 100px;
	width: 100%;
	margin-bottom: 25px;
	/*background:yellow;*/

}
#main .firstpage .banner .showcon p{
	width: 100%;
	font-size: 25px;
	font-family: '楷体';
	text-align: center;
	color: white;
	margin-top: 20px;
	letter-spacing: 15px;
}
#main .firstpage .banner .showcon div{
	border-radius: 50px;
	text-align: center;
	margin-top: 20px;
	background-color: #31c27c;
    border-bottom-left-radius: 99px;
    border-bottom-right-radius: 99px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;  
    display: block;  
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

}
#main .firstpage .banner .showcon div:hover{
	background-color: #61c27c;
}
#main .firstpage .banner .showcon div a{
	font-size: 34px;
	color: #fff;
	 line-height: 64px;
}
#main .firstpage .bottom{
	width: 100%;
	height: 166px;
	position: absolute;
	background:rgba(0,0,0,0.3);
	bottom: 0px;
}
#main .firstpage .bottom ul{width: 100%;height: 100%; display: inline-block;}
#main .firstpage .bottom ul li{height: 100px; width: 278px;margin-right: 160px;background:url(img/sprite_index_banner.png);margin-top: 34px;float: left;}
#main .firstpage .bottom ul li:nth-child(1){background-position:-838px -17px;}
#main .firstpage .bottom ul li:nth-child(2){background-position:-811px -117px; }
#main .firstpage .bottom ul li:nth-child(3){background-position:-843px -215px; }
#main .firstpage .bottom ul li:hover{}
#main .secondpage{
	width: 100%;
	height: 900px;
	background: url(img/feature_thumb_1.jpg)no-repeat;
}
/*底部*/
#footer{
	width: 100%;
	height: 361px;
	text-align: center;
}
#footer .container{
	margin-left: auto;
	margin-right: auto;
	width:1200px;	
}
#footer .container h2{
	height: 60px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 460px;
    font: 60px '宋体';
    color: #000;
}
#footer .container p{
	height: 60px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 740px;
    letter-spacing: 2px;
}
#footer .container ul{
	width: 100%	;
	height:90px;
	display: block;
	text-align: center;
	margin-top: 20px;
}
#footer .container ul li{
	color: #aaa;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    text-align: center;
    width: 150px;
}
#footer .container ul li a{
	color: #707070;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}
#footer .container ul li span{
	display: block;
    font-size: 14px;
    text-align: center;
    color: #707070;
    margin-top: 20px;
}
#footer .container ul li span:hover{
	border-bottom:1px solid grey;
}

/*固定索引条*/
#index{}
#index .suplist{
	position: fixed;
	right: 30px;
	top:56px;
	z-index: 10;
	width: 46px;
	height: 276px;
	border:1px;
	border-radius: 23px;
	background:rgba(0,0,0,0.3);
	padding-top: 30px;
	
}
#index .suplist li{
	margin-right: 33px;
	width: 30px;
	height: 24px;
	background-image: url('img/tool_bar.png');
	margin-bottom: 28px;
	margin-left: 12px;
	
}
#index .suplist li:nth-child(1){background-position: -280px -197px;}
#index .suplist li:nth-child(2){background-position: -50px -251px;}
#index .suplist li:nth-child(3){background-position: -84px -247px;}
#index .suplist li:nth-child(4){background-position: -111px -246px;}
#index .suplist li:nth-child(5){background-position: -143px -246px;}
/*下一级索引*/

.sublist1{
	display: none;
	width: 152px;
	height: 241px;
	background:rgba(0,0,0,0.3);
	position: fixed;
	top: 0px;right: 90px;
	z-index: 20;
	text-align: center;
	border-radius: 20px;
}
.sublist1 span{font-size: 15px;color: white;}
.sublist1 img{padding-top: 10px;}
.sublist1 p{font-size: 18px;color: yellow;margin-left: 10px;padding-right: 10px;}
.sublist1 em{font-size: 25px;color: white;}
.sublist2{
	display: none;
	width: 152px;
	height: 241px;
	background:rgba(0,0,0,0.3);
	position: fixed;
	top: 52px;right: 90px;
	z-index: 20;
	text-align: center;
	border-radius: 20px;
}
.sublist2 span{font-size: 15px;color: white;}
.sublist2 img{padding-top: 10px;}
.sublist2 p{font-size: 18px;color: yellow;margin-left: 10px;padding-right: 10px;}
.sublist2 em{font-size: 25px;color: white;}
.sublist3{display: none;width: 105px;height: 40px;background:rgba(0,0,0,0.3);position: fixed;top: 186px;right: 90px;z-index: 20;border-radius: 10px;}
.sublist3 span{font-size: 15px;color: white;line-height: 40px;padding-left: 20px;}
.sublist4{display: none;width: 105px;height: 40px;background:rgba(0,0,0,0.3);position: fixed;top: 240px;right: 90px;z-index: 20;border-radius: 10px;}
.sublist4 span{font-size: 15px;color: white;line-height: 40px;padding-left: 20px;}
.sublist5{display: none;width: 105px;height: 40px;background:rgba(0,0,0,0.3);position: fixed;top: 296px;right: 90px;z-index: 20;border-radius: 10px;}
.sublist5 span{font-size: 15px;color: white;line-height: 40px;padding-left: 20px;}
.sublist1:after,.sublist2:after,.sublist3:after,.sublist4:after,.sublist5:after{
	content: '';
	border-style: dashed dotted dashed solid;
	border-color: transparent;
	border-left-color: rgba(0,0,0,0.3);
	border-width: 10px;
	height: 0;
	width: 0;
	line-height: 0;
	display: block;
	position: absolute;
	right: -20px;top:80px;
}
.sublist3:after,.sublist4:after,.sublist5:after{
	content: '';
	border-style: dashed dotted dashed solid;
	border-color: transparent;
	border-left-color: rgba(0,0,0,0.3);
	border-width: 10px;
	height: 0;
	width: 0;
	line-height: 0;
	display: block;
	position: absolute;
	right: -20px;top:12px;

}