*{margin:0;padding:0;}
ul{list-style:none;}
body{min-width: 1024px;height:100%;}
.main{
	width:100%;
	height:100%;
}
/*第一部分*/
/*背景图片部分*/
div.bannerbg{}
div.bannerbg>img{width: 100%;height:100%;
				position:absolute;left:0;top:0;
				display:none;background-position:0 -70%;
}
.main1{
	width:100%;height: 100%; overflow:hidden;
	position:relative;box-sizing:border-box;
}
div.bannerbg>img.showBg{display:block;}
/*header部分*/
.header{width: 100%;height: 80px;position: relative;/*z-index:3;*/
	box-sizing: border-box;
	background-color: rgba(0,0,0,.3);padding-left:18%;
	animation-name:showhead;
	animation-duration: 1S;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
@keyframes showhead{
	from{transform: translateY(-100%);}
	to{transform: translateY(0);}
}

.header a{color:#fff;text-decoration: none;font-size:20px;}
.header>.logo{display:inline-block;}
.header>.logo>img{width: 30px;height: 30px;margin-top:20px;}
.header>.logo>a{font-size:30px;}
.header>.header_middle{display:inline-block;}
.header>.header_middle>a{padding-left:50px;}
.header>.header_middle>a.active{color:#31c27c;}
.header>.header_middle>a:nth-child(2){padding-right:120px;}
.header>ul{display:inline-block;}
.header>ul>li{display:inline-block;margin-right:30px;}
.header>ul>li:hover{background-color:#ccc;padding-left:5px;padding-right:5px;
		transition:background-color 1s linear;
}
.header>ul>li>a{}
/*content部分*/
.content{height:382px;margin-left:100px;}
.content>.con-left{z-index:0; margin-top:-40px;width:45%;display:inline-block;vertical-align: middle;/*background:rgba(20,32,46,0.5);*/}
.con-left>.watch{background:url(images/watch-bg.png);opacity: 0.8;
	width: 448px;height: 448px;opacity: 0.8;position: relative;
	/*border: 1px solid #0f0;*/
}
.con-left>.watch>div{}
.con-left>.watch>img{
	position:absolute;bottom:75px;right: 5px;
	transform-origin:20% 40%;
	animation-name:point;
	animation-duration: 1s;
	animation-fill-mode:forwards;
	animation-timing-function: ease-in;
	/*border:1px solid #f00;*/
}
@keyframes point{
	from{transform: rotate(-180deg) translateY(30%);}
	to{transform: rotate(0deg) translateY(0%);}
}
.con-left>.watch>div:nth-child(2),
.con-left>.watch>div:nth-child(3)
{background:url(images/watch-time.png);width: 40px;height: 50px;
	position:absolute;bottom:90px;
}
.con-left>.watch>div:nth-child(2){background-position: 0 -305px;right:234px;transform: translateY(20%);}
.con-left>.watch>div:nth-child(3){background-position: 0 5px;right:188px;}
.content>.con-right{opacity: 0.9; display:inline-block;color:#f4eded;vertical-align: middle;}
.content>.con-right>div:first-child{font-size:76px;letter-spacing:5px;
	animation-name:show;
	animation-duration: 1S;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
@keyframes show{
	from{transform: skewX(45deg);}
	to{transform: skewX(0deg);}
}
.content>.con-right>div:nth-child(2){color:#839b95; font-size:24px;height: 60px;margin-top:10px;}
.content>.con-right>input{background:#31c27c;color:#fff;width:
	294px;height:45px; border:1px solid #31c27c;border-radius:40px;
	text-align:center;font-size:30px;cursor:pointer;
}	
/*list部分*/
.list{height: 180px;opacity: 0.8;}
.list>hr{opacity: 0.4;}
.list>ul#version{width: 100%;height: 100%;
	padding-left:180px;box-sizing: border-box;color:#999;
}
.list>ul#version>li{ display:inline-block; width: 18%;
	line-height: 180px;
	cursor:pointer;
	font-size:24px;
	box-sizing: border-box;
	margin-right:30px;
}
.list>ul#version>li.active{border-top:1px solid #fff;color:#fff;}
.list>ul#version>li:hover>span{color:#fff;transition: 1s;}
.list>ul#version>li:hover>img{
	animation-name:logo;animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:forwards;
}
@keyframes logo{
	from{transform:rotate(-90deg);}
	to{transform:rotate(0deg);}
}
.list>ul#version>li>img{width: 46px;height: 40px;vertical-align: middle;}
.list>ul#version>li>span{}
/*第二部分*/
.main2{width: 100%;height:906px;margin-top:-40px;
	position: relative;
}
.main2>p{position:absolute;color:#fff;z-index: 2;}
.main2>p:first-child{font-size:80px;top:36%;left:25%;
}
.main2>p:nth-child(2){top:50%;left:30%;font-size:30px;}
.main2>ul.all{width: 100%;height: 100px;}
.main2>ul.all>li{font-size:0;}
.main2>ul.all>li>div{border:1px solid #000;width: 16.5%;height: 200px;display:inline-block;}
/*.main2>ul.all>li>img{width: 16.6%;opacity: 0.4;
	animation-name:showIMg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes showIMg{
	from{transform: translateY(-30px);}
	to{transform: translateY(0);}
}*/
.main2>ul.all>li.item1>div{height: 127px;animation-delay: 2s;}
.main2>ul.all>li.item2>div{height: 212px;animation-delay: 2.5s;}
.main2>ul.all>li.item4>div{height: 212px;animation-delay: 3s;}
.main2>ul.all>li.item3>div{height: 209px;animation-delay: 3.5s;}
.main2>ul.all>li.item4>div{animation-delay: 4s;}
.main2>ul.all>li.item5>div{height: 141px;animation-delay: 4.5s;}
.main2>ul.all>li.item2>div:nth-child(2),
.main2>ul.all>li.item2>div:nth-child(5),
.main2>ul.all>li.item3>div:nth-child(1),
.main2>ul.all>li.item3>div:nth-child(6),
.main2>ul.all>li.item4>div:nth-child(2),
.main2>ul.all>li.item4>div:nth-child(4),
.main2>ul.all>li.item5>div:nth-child(3),
.main2>ul.all>li.item5>div:nth-child(5)
{opacity: 1;}
.main2>ul.all>li.item2>div:nth-child(2):hover,
.main2>ul.all>li.item2>div:nth-child(5):hover,
.main2>ul.all>li.item3>div:nth-child(1):hover,
.main2>ul.all>li.item3>div:nth-child(6):hover,
.main2>ul.all>li.item4>div:nth-child(2):hover,
.main2>ul.all>li.item4>div:nth-child(4):hover,
.main2>ul.all>li.item5>div:nth-child(3):hover,
.main2>ul.all>li.item5>img:nth-child(5):hover{
	width:300px;height:240px;
	/*transition: width 1s linear,height 1s linear;*/
	animation-name:scaleMg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
@keyframes scaleMg{
	from{transform: scale(0);opacity: 0}
	from{transform: scale(1.0);opacity: 1}
}
/*第三部分*/
.main3{width: 100%;height: 835px;background:url(images/bg_synchro.jpg);margin-top:-5px;box-sizing: border-box;}
.main3>.pc-left{width: 50%;margin-left:40px; display:inline-block;vertical-align: middle;}
.main3>.pc-left>div:first-child{font-size:55px;}
.main3>.pc-left>div:nth-child(2){font-size:30px;margin-top:10px;}
.main3>.pc-left>div:nth-child(3){margin-left:80px;}
.main3>.pc-left>div>img:hover{
		animation-name:iphone;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in;
}
@keyframes iphone{
	from{transform: rotate(-180deg);}
	to{transform: rotate(0deg);}
}
.main3>.pc-right{width:45%;height: 760px;display:inline-block;vertical-align: middle;margin-top:30px;
}
.main3>div.pc-right:hover{transform: translateX(-10%);transition:transform 1s ease-in;}
.main3>.pc-right>div{width:80%;height: 46%;background-size:80% 100%;}
.main3>.pc-right>div:first-child{background:url(images/big-pc1.png);
}
.main3>.pc-right>div:nth-child(2){background:url(images/big-pc2.png);	

}
.footer{width: 100%;height: 74px;text-align:center;background:rgba(221,214,204,.3);
		line-height: 74px;margin-top:-30px;/*position: absolute;left:0;bottom:0;*/
}

